.wrapper {
  width: 90%;
  max-width: 1100px;
  @apply mx-auto;
}

img {
  max-width: 100%;
}
html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}
.nav-intro-sect {
  background-image: url(../../public/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -70px right -80px;
  @media (min-width: 768px) {
    background-position: top -20px right -60px;
  }
}
nav {
  @apply bg-white absolute top-full  rounded-md text-lg 
  font-bold left-0 right-0 mx-5 xs:mx-7 sm:mx-16 md:m-0 overflow-hidden
   text-dark-blue h-0 md:relative md:inset-auto md:overflow-visible
   md:bg-transparent md:text-base;
  ul {
    @apply py-10 px-8 flex flex-col items-center gap-5 md:gap-8 md:flex-row md:p-0;
  }
  li {
    a {
      @apply hover:opacity-50;
    }
  }
}
.get-start-btn {
  @apply font-bold  bg-bright-red px-7 py-3 rounded-full 
  text-white hover:opacity-70;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.493);
}
.get-start-btn-white {
  @apply font-bold  bg-white px-7 py-3 rounded-full 
  text-bright-red hover:opacity-70;
}
.what-diff-head {
  position: relative;
  @apply flex items-stretch;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    @apply bg-very-pale-red -z-10 rounded-full -right-full md:content-none;
  }
  span {
    @apply bg-bright-red text-white px-6 rounded-full py-1.5 mr-3
    flex items-center;
  }
  h4 {
    @apply font-semibold text-dark-blue flex items-center sm:text-lg md:text-xl;
  }
}
.what-diff-desc {
  @apply text-dark-grayish-blue mt-5 md:mt-2 md:ml-20 text-sm sm:text-base;
}
.swiper-wrapper {
  align-items: stretch !important;
  .swiper-slide {
    height: auto;
  }
}
.swiper-pagination-bullet {
  width: 10px !important;
  background-color: transparent !important;
  height: 10px !important;
  border: 2px solid hsl(12, 88%, 59%) !important;
}
.swiper-pagination-bullet-active {
  background-color: hsl(12, 88%, 59%) !important;
}

.simplify-sect {
  @apply bg-bright-red py-20;
  background-image: url(../../public/images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  @media (min-width: 768px) {
    background-image: url(../../public/images/bg-simplify-section-desktop.svg);
  }

  h2 {
    @apply text-4xl text-white font-semibold text-center
     md:text-left;
  }
  button {
    @apply block mt-10 mx-auto md:m-0;
  }
}
.footer-nav {
  @apply flex flex-col gap-5; 
  li a {
    @apply text-very-light-gray hover:opacity-50;
  }
}
