.wrapper {
  @apply px-5 xs:px-7 sm:px-12 lg:px-20 xl:px-28;
}

img {
  max-width: 100%;
}
html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}
.nav-intro-sect {
  background-image: url(../../public/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -70px right -80px;
  @media (min-width: 768px) {
    background-position: top -20px right -60px;
  }
}
nav {
  @apply bg-white absolute top-full  rounded-md text-lg 
  font-bold left-0 right-0 mx-5 xs:mx-7 sm:mx-16 md:m-0 overflow-hidden
   text-dark-blue h-0 md:relative md:inset-auto md:overflow-visible
   md:bg-transparent md:text-base;
  ul {
    @apply py-10 px-8 flex flex-col items-center gap-5 md:gap-8 md:flex-row md:p-0;
  }
  li {
    a {
      @apply hover:opacity-50;
    }
  }
}
.get-start-btn {
  @apply font-bold  bg-bright-red px-7 py-3 rounded-full 
  text-white hover:opacity-70;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.493);
}
.what-diff-head {
  position: relative;
  @apply flex items-stretch;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    @apply bg-very-pale-red -z-10 rounded-full -right-full md:content-none;
  }
  span {
    @apply bg-bright-red text-white px-6 rounded-full py-1.5 mr-4
    flex items-center;
  }
  h4 {
    @apply text-xl font-semibold text-dark-blue flex items-center;
  }
}
.what-diff-desc {
  @apply text-dark-grayish-blue mt-5 md:ml-20 font-semibold;
}
.swiper-pagination-bullet  {
  @apply border-2 bg-none w-10 h-10 ;
}
.swiper-pagination-bullet-active {
}
