.wrapper {
  @apply px-5 xs:px-7 sm:px-12 lg:px-20 xl:px-28;
}
.wrapper-l {
  @apply pl-5 xs:pl-7 sm:pl-12  lg:pl-20 xl:pl-28;
}
.wrapper-r {
  @apply pr-5 xs:pr-7 sm:pr-12  lg:pr-20 xl:pr-28;
}
img {
  max-width: 100%;
}
html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
  background-image: url(../../public/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -70px right -80px;
  @media (min-width: 768px) {
      background-position: top -150px right -140px;
  }
}
nav {
  @apply bg-white absolute top-full  rounded-md text-lg 
  font-bold left-0 right-0 mx-5 xs:mx-7 sm:mx-16 md:m-0 overflow-hidden
   text-dark-blue h-0 md:relative md:inset-auto md:overflow-visible
   md:bg-transparent md:text-base;
  ul {
    @apply py-10 px-8 flex flex-col items-center gap-5 md:gap-8 md:flex-row md:p-0;
  }
  li {
    a {
      @apply hover:opacity-50;
    }
  }
}
.get-start-btn {
  @apply font-bold  bg-bright-red px-7 py-3 rounded-full 
  text-white hover:opacity-70;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.493);
}
.what-diff-head {

    
}